body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #A9471C ;
    font-family: fantasy;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #A9471C;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

.btnmen{
    position: relative;
    z-index: 99;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 3px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.btnmen:hover{
    background: #4180FD;
    box-shadow: 0 0 10px #4180FD, 0 0 40px #4180FD, 0 0 80px #4180FD;
    transition-delay: 0.2s;
}

.donate{
    position: relative;
    z-index: 99;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 3px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.donate:hover{
    background: #41FDCA ;
    box-shadow: 0 0 10px #41FDCA , 0 0 40px #41FDCA , 0 0 80px #41FDCA ;
    transition-delay: 0.2s;
}

.btngirl{
    position: relative;
    z-index: 99;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 3px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.btngirl:hover{
    background: pink;
    box-shadow: 0 0 10px pink, 0 0 40px pink, 0 0 80px pink;
    transition-delay: 0.2s;
}

.allassets{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 50px;
    
}

#myDIV {
  width: 100;
  height: 100;
  background: red;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {background-color: rgb(102, 63, 114);}
  to {background-color: rgb(36, 36, 97);}
}
